

html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit}
del,ins{text-decoration:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline}
sub{vertical-align:baseline}
legend{color:#000}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
body{font:13px/1.231 sans-serif;*font-size:small;*font:x-small}
select,input,button,textarea,button{font:99% sans-serif}
table{font-size:inherit;font:100%}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}
body{text-align:center}
#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.25em}
#doc2{width:73.076em;*width:71.25em}
#doc3{margin:auto 10px;width:auto}
#doc4{width:74.923em;}
.yui-b{position:relative}
.yui-b{_position:static}
#yui-main .yui-b{position:static}
#yui-main,.yui-g .yui-u .yui-g{width:100%}
.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em}
.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em}
.yui-t1 .yui-b{float:left;width:12.30769em;*width:12.00em}
.yui-t1 #yui-main .yui-b{margin-left:13.30769em;*margin-left:13.05em}
.yui-t2 .yui-b{float:left;width:13.8461em;*width:13.50em}
.yui-t2 #yui-main .yui-b{margin-left:14.8461em;*margin-left:14.55em}
.yui-t3 .yui-b{float:left;width:23.0769em;*width:22.50em}
.yui-t3 #yui-main .yui-b{margin-left:24.0769em;*margin-left:23.62em}
.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.50em}
.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.55em}
.yui-t5 .yui-b{float:right;width:18.4615em;*width:18.00em}
.yui-t5 #yui-main .yui-b{margin-right:19.4615em;*margin-right:19.125em}
.yui-t6 .yui-b{float:right;width:23.0769em;*width:22.50em}
.yui-t6 #yui-main .yui-b{margin-right:24.0769em;*margin-right:23.62em}
.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0}
#yui-main .yui-b{float:none;width:auto}
.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{float:left}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u{float:right}
.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first{float:left}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf{width:49.1%}
.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{width:32%;margin-left:1.99%}
.yui-gb .yui-u{*margin-left:1.9%;*width:31.9%}
.yui-gc div.first,.yui-gd .yui-u{width:66%}
.yui-gd div.first{width:32%}
.yui-ge div.first,.yui-gf .yui-u{width:74.2%}
.yui-ge .yui-u,.yui-gf div.first{width:24%}
.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0}
.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u{width:49%;*width:48.1%;*margin-left:0}
.yui-g .yui-g .yui-u{width:48.1%}
.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first{*margin-right:0;*width:32%;_width:31.7%}
.yui-g .yui-gc div.first,.yui-gd .yui-g{width:66%}
.yui-gb .yui-g div.first{*margin-right:4%;_margin-right:1.3%}
.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first{*margin-right:0}
.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u{*margin-left:1.8%;_margin-left:4%}
.yui-g .yui-gb .yui-u{_margin-left:1.0%}
.yui-gb .yui-gd .yui-u{*width:66%;_width:61.2%}
.yui-gb .yui-gd div.first{*width:31%;_width:29.5%}
.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u{width:32%;_float:right;margin-right:0;_margin-left:0}
.yui-gb .yui-gc div.first{width:66%;*float:left;*margin-left:0}
.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u{margin:0}
.yui-gb .yui-gb .yui-u{_margin-left:.7%}
.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first{*margin-left:0}
.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u{*width:48.1%;*margin-left:0}
.yui-gb .yui-gd div.first{width:32%}
.yui-g .yui-gd div.first{_width:29.9%}
.yui-ge .yui-g{width:24%}
.yui-gf .yui-g{width:74.2%}
.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u{float:right}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first{float:left}
.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first{*width:24%;_width:20%}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u{*width:73.5%;_width:65.5%}
.yui-ge div.first .yui-gd .yui-u{width:65%}
.yui-ge div.first .yui-gd div.first{width:32%}
#hd:after,#bd:after,#ft:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#hd,#bd,#ft,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1}
body{margin:10px}
h1{font-size:138.5%}
h2{font-size:123.1%}
h3{font-size:108%}
h1,h2,h3{margin:1em 0}
h1,h2,h3,h4,h5,h6,strong,dt{font-weight:bold}
optgroup{font-weight:normal}
abbr,acronym{border-bottom:1px dotted #000;cursor:help}
em{font-style:italic}
del{text-decoration:line-through}
blockquote,ul,ol,dl{margin:1em}
ol,ul,dl{margin-left:2em}
ol li{list-style:decimal outside}
ul li{list-style:disc outside}
dl dd{margin-left:1em}
th,td{border:1px solid #000;padding:.5em}
th{font-weight:bold;text-align:center}
caption{margin-bottom:.5em;text-align:center}
sup{vertical-align:super}
sub{vertical-align:sub}
p,fieldset,table,pre{margin-bottom:1em}
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px}
@media screen{body.largeText{font-size:95%}
body.smallText{font-size:60%}
#portal-column-one .visualPadding{ padding:2em 0em 1em 2em}
#portal-column-two .visualPadding{ padding:2em 2em 1em 0em}
h1,h2{ border-bottom:1px solid #8cacbb; font-weight:normal}
body.kssActive h2.inlineEditable:hover,body.kssActive h1.inlineEditable:hover,body.kssActive h2.formlibInlineEditable:hover,body.kssActive h1.formlibInlineEditable:hover{    padding-bottom:1px}
h3,h4,h5,h6{    border-bottom:none;    font-weight:bold}
.documentFirstHeading{    margin-top:0}
.documentContent{    font-size:110%;    padding:1em 1em 2em 1em !important;    background:White}
.documentContent ul{    list-style-image:url(/fsforg/css/img/bullet.gif); list-style-type:square; margin:0.5em 0 0 1.5em}
.documentContent ol{ margin:0.5em 0 0 2.5em}
.documentContent p a{ text-decoration:none; border-bottom:1px #ccc solid}
.documentContent p a:visited{ color:Purple; background-color:transparent}
.documentContent p a:active{ color:Red; background-color:transparent}
#content a:target{ background-color:#fd7 !important}
.documentContent li a{ text-decoration:none; border-bottom:1px #ccc solid}
.documentContent li a:visited{ color:Purple}
.documentContent li a:active{ color:Red}
.documentContent dd a{ text-decoration:none; border-bottom:1px #ccc solid}
.documentContent dd a:visited{ color:Purple; background-color:transparent}
.documentContent dd a:active{ color:Red; background-color:transparent}
#visual-portal-wrapper{ margin:0; padding:0}
#portal-logo img{ border:0; padding:0; margin:1em 0em 1em 2em}
#portal-skinswitcher{}
#portal-skinswitcher a{ display:block; float:left}
#portal-top{  margin:0; padding:0; background-color:transparent}
#portal-advanced-search{ margin-top:0.2em; clear:both}
#portal-advanced-search a{ color:#76797c; text-decoration:none; text-transform:none}
dl.searchResults dt{ font-size:140%; font-weight:normal}
form.searchPage{ text-align:center}
input.searchPage{ font-size:200% !important}
form.searchPage input.searchButton{ background-position:5px 7px; padding:1px 10px 1px 25px}
.LSRes{ font-family: sans-serif; visibility:visible; color:#436976; background-color:White; vertical-align:middle; display:block; list-style-image:none; list-style-type:none; text-align:left; min-width:16.5em; text-transform:none; margin-left:0; line-height:1.1em}
#LSHighlight,.LSHighlight{ background-color:#dee7ec; border:1px solid #8cacbb; color:#436976}
.LSTable{ margin:1em 0}
.LSRow{ border:1px solid White; white-space:normal; padding:0; margin:0; list-style-image:none; list-style-type:none}
.LSRow a{ text-decoration:none; font-weight:bold; white-space:nowrap}
.LSDescr{ color:#76797c; font-size:90%; font-weight:normal; margin-left:2.5em}
.LSResult{ position:relative; display:block; text-align:right; padding-top:5px; margin:0; left:3px; z-index:3}
.LSShadow{ position:relative; text-align:right}
.livesearchContainer{ background-color:White; margin-top:0; padding:0 !important; position:absolute; right:0px;  top:0; white-space:normal; font-family: sans-serif; visibility:visible; text-align:left; color:#436976; border:1px solid #8cacbb; width:30em; text-transform:none}
* html .livesearchContainer{ padding:1px !important; padding-top:0 !important; background-color:#8cacbb; border:0}
#livesearchLegend{ line-height:1em; margin-top:-2em; margin-left:-0.1em; border:1px solid #8cacbb; border-bottom:0}
* html #livesearchLegend{ margin-top:-1.9em; margin-left:-8px; position:relative}
.LSIEFix{ background-color:White; padding:0.5em !important; z-index:20}
.LSBox{ clear:left; float:left; text-align:right; padding-right:1px; display:block}
#LSNothingFound{ text-align:center; padding:2px}
.LSBox label{ font-weight:normal}
#portal-globalnav{ background-color:transparent; padding:0em 0em 0em 2em; white-space:nowrap; list-style:none; margin:0; height:auto; line-height:normal}
#portal-globalnav li{ display:inline}
#portal-globalnav li a{  background-color:transparent; border-color:#8cacbb; border-width:1px; border-style:solid solid none solid; color:#436976; height:auto; margin-right:0.5em; padding:0em 1.25em; text-decoration:none; text-transform:none}
#portal-globalnav li.selected a{  background-color:#dee7ec; border:1px solid #8cacbb; border-bottom:#dee7ec 1px solid; color:#436976}
#portal-globalnav li a:hover{ background-color:#dee7ec; border-color:#8cacbb; border-bottom-color:#dee7ec; color:#436976}
.visualCaseSensitive{ text-transform:none}
#portal-languageselector{ margin:0 1em 0 1em; float:right}
#portal-languageselector li{ display:inline}
#portal-breadcrumbs{  border-bottom-color:#8cacbb; border-bottom-style:solid; border-bottom-width:1px; padding-left:2em; padding-right:2em; text-transform:none; line-height:1.6em}
#portal-breadcrumbs a{ text-decoration:none}
.breadcrumbSeparator{ font-size:120%}
.addFavorite{ vertical-align:bottom}
.documentEditable{ padding:0em 1em 1em 1em !important; margin:0 -1em}
#content-news h1{ margin-bottom:1em}
#content h5,#content h6{ color:#76797c}
.newsItem{ margin-bottom:1em; border-bottom:1px solid #8cacbb}
.newsImage{ border:1px solid #ccc}
.newsImageContainer{ float:right; margin:0 0 0.5em 1em; width:202px}
.newsContent{ padding:0 1em 1em 1em}
.newsContent ul,.newsContent li{ display:block; list-style:none; list-style-image:none; margin:0; padding:0}
.newsAbout{ display:block; color:#76797c; font-size:90%; padding:0; margin-top:0; list-style:none; list-style-image:none; float:right; text-align:right}
.newsAbout li{ display:inline}
.newsFooter{}
.newsFooter li{ display:inline; margin:0 1em 0 0}
.documentActions{ margin:1em 0; padding:0; text-align:right; border-top:1px solid #8cacbb}
.documentActions ul{ margin:0; padding:0 0.5em; display:block; margin-top:-0.9em; list-style-type:none; list-style-image:none}
.documentActions li{ display:inline; font-size:90%; margin:0 0.5em; padding:0 0.25em; background-color:White}
.documentActions a{ border:none !important; text-decoration:none}
dl.portalMessage{ font-size:90%; background-color:#ffffe3; border:1px solid #996}
dl.portalMessage a{ color:black; border:none; text-decoration:underline}
dl.portalMessage dt{ background-color:#996; font-weight:bold; float:left; margin:0 0.5em 0 0; padding:0.5em 0.75em; color:White; line-height:1.25em}
dl.portalMessage dd{ padding:0.5em 0.5em; margin:0; line-height:1.25em}
dl.warning{ border-color:#d80}
dl.warning dt{ background-color:#d80}
dl.error{ border-color:#d00}
dl.error dt{ background-color:#d00}
dl.warning{ border-color:#d80}
dl.warning dd{ background-color:#fd7}
dl.error{ border-color:#d80}
dl.error dd{ background-color:#fd7}
.documentDescription{  font-weight:bold; display:block; margin:0em 0em 0.5em 0em; line-height:1.5em}
.documentByLine{ font-size:90%; font-weight:normal; color:#76797c; margin-bottom:0.5em}
dl.searchResults span.documentByLine{ display:block}
.discussion{ margin-top:1em}
.even{ background-color:#eef3f5}
.odd{ background-color:transparent}
.visualHighlight{ background-color:#ffc}
.discreet{ color:#76797c; font-size:90%; font-weight:normal}
.pullquote{ padding:0 1em 0 1em; margin:0 0 1em 1em; font-weight:bold; color:#C93; float:right; width:35%; clear:right; background-color:White; border-left:4px solid #8cacbb}
.callout{ font-weight:bold; color:#C93; padding:0px 1em}
.notify,.documentEditable * .notify{ border:1px solid #ffa500}
.card{ background-color:#dee7ec; border-color:#8cacbb; border-width:1px; border-style:solid; float:left; margin:1em; text-align:center; width:110px; padding:1em 0}
.card a{ text-decoration:none}
.portrait{ background-color:#dee7ec; border-color:#8cacbb; border-width:1px; border-style:solid; font-size:90%; margin:0.5em; padding:1em 0 0.5em 0; text-align:center; width:100px}
.portraitPhoto{ border:1px solid black}
table.listing,.stx table{  border-collapse:collapse; border-spacing:0;  border-left:1px solid #8cacbb; border-bottom:1px solid #8cacbb; font-size:90%; margin:1em 0em 1em 0em}
table.listing th,.stx table th{ background:#dee7ec; border-top:1px solid #8cacbb; border-bottom:1px solid #8cacbb; border-right:1px solid #8cacbb; font-weight:normal; padding:0.25em 0.5em; text-transform:none}
table.listing .top{ border-left:1px solid White; border-top:1px solid White ! important; border-right:1px solid White ! important; text-align:right ! important; padding:0em 0em 1em 0em}
table.listing .listingCheckbox{ text-align:center}
table.listing td,.stx table td{ border-right:1px solid #8cacbb; padding:0.25em 0.5em}
table.listing a{ text-decoration:none}
table.listing a:hover{ text-decoration:underline}
table.listing img{ vertical-align:middle}
table.listing td a label,.stx table td a label{ cursor:pointer}
table.vertical{ background-color:White}
table.vertical th{ padding:0.5em}
table.vertical td{ border-top:1px solid #8cacbb; padding:0.5em}
table.grid td{ border:1px solid #8cacbb; padding:0.5em}
table.plain,table.plain td,table.plain th{ border:1px solid #ccc; padding:0.5em; border-collapse:collapse}
.listingBar{ background-color:#dee7ec; border-color:#8cacbb; border-style:solid; border-width:1px; padding:0em 1em; text-align:center; text-transform:none; vertical-align:top; margin:1em 0em; font-size:94%; clear:both}
.listingBar span.previous,.listingPrevious{ text-align:left; float:left; margin-right:1em}
.listingBar span.next,.listingNext{ text-align:right; float:right; margin-left:1em}
.listingBar img{ vertical-align:middle}
.listingBar a{ text-decoration:none}
.tileItem{ border-top:1px solid #8cacbb; padding-top:0.5em; margin-top:0.5em}
.tileHeadline{ border:none; font-size:110%; font-weight:bold}
.tileHeadline a{ text-decoration:none}
.tileBody{ margin-bottom:0.5em}
.tileImage{ float:right; margin:0 0 0.5em 0.5em; border:1px solid black}
.eventDetails{ float:right; clear:right; margin:0 0 0.5em 1em}
ul.visualNoMarker,ol.visualNoMarker{ list-style-type:none; list-style-image:none; margin:0.5em 0 0 0; line-height:1em}
ul.discreet{ list-style-image:none;  list-style-type:disc}
textarea.proportional{ font:100% sans-serif}
.productCredits{ text-align:right; font-size:90%; clear:both; font-weight:normal; color:#76797c}
#portal-footer{ background-color:#dee7ec; border-top:1px solid #8cacbb; border-bottom:1px solid #8cacbb; float:none; line-height:1.2em; margin:2em 0em 1em 0em; padding:0.5em 0em 1em 0em; text-align:center}
#portal-footer p{ margin:0.25em 0}
#portal-footer a{ text-decoration:none; color:#436976; border:none}
#portal-footer a:visited{ color:#436976}
#portal-footer a:hover{ text-decoration:underline}
#portal-colophon{ float:none; margin:0 0 1em 0; padding:0 0 1em 0; text-align:center; color:#666}
#portal-colophon ul{ list-style-image:none; list-style-type:none}
#portal-colophon ul li{ display:inline !important; font-size:90%; padding:0 0.75em}
#portal-colophon ul li a{ text-decoration:none; border-bottom:1px #ccc solid; color:#666}
.feedButton{ display:block; float:right; margin-top:1px}
.poweredBy{ display:block; clear:both; font-size:90%; font-weight:normal; color:#76797c; text-align:right}
#portal-sitemap{ list-style:none; list-style-image:none; margin:0; font-size:90%; border:none}
#portal-sitemap a{ border:1px solid White}
#portal-sitemap a:hover{ border:1px solid #8cacbb}
#portal-sitemap .navTreeLevel1{ padding-left:1em; border-left:0.5em solid #8cacbb; margin:0 0 0 0.5em}
#portal-sitemap .navTreeLevel2{ padding-left:1em; border-left:0.5em solid #dee7ec; margin:0 0 0 0.6em}
.photoAlbumEntry{    float:left;    position:relative;    overflow:hidden;    height:185px;    width:143px;    margin:0em;    padding:0px 6px 0px 9px;    text-align:center;    background-image:url('/nosvn/plone3/img/polaroid-single.png'); background-repeat:no-repeat}
.photoAlbumEntry img{ border:1px solid #ccc; display:block; margin:0 auto}
.photoAlbumEntryWrapper{     height:130px;    width:128px;    margin-bottom:7px}
.photoAlbumEntry a{    display:block;    text-decoration:none;    font-size:90%;    height:169px;    width:130px;    margin:16px auto 0px}
.photoAlbumFolder{    background-image:url('/nosvn/plone3/img/polaroid-multi.png'); background-repeat:no-repeat}
.photoAlbumEntryTitle{ color:#76797c; display:block; width:128px; height:3.6em}
a.link-parent{    display:block;    background:transparent url(/nosvn/plone3/img/arrowUp.gif) 4px 5px no-repeat;    padding:1px 0px 10px 16px;    font-size:90%;    text-decoration:none}
#content .link-category{    color:#74ae0b !important}
#content .link-user{    background:transparent url(/nosvn/plone3/img/user.gif) 0 1px no-repeat;    padding:1px 0px 1px 16px}
#content .link-comment{    background:transparent url(/nosvn/plone3/img/discussionitem_icon.gif) center left no-repeat; padding:1px 0px 1px 16px !important}
#content .link-anchor{ color:#76797c; text-decoration:none; font-weight:normal}
#content .link-presentation{ font-size:90%; text-align:center}
#content .link-wiki-add{ color:red}
#content span.link-external a{    background:transparent url(/nosvn/plone3/img/link_icon.gif) 0px 1px no-repeat;    padding:1px 0px 1px 16px}
#content span.link-https a{    background:transparent url(/nosvn/plone3/img/lock_icon.gif) 0px 1px no-repeat; padding:1px 0px 1px 16px}
#content span.link-mailto  a{    background:transparent url(/nosvn/plone3/img/mail_icon.gif) 0px 1px no-repeat;    padding:1px 0px 1px 16px}
#content span.link-news a{    background:transparent url(/nosvn/plone3/img/topic_icon.gif) 0px 1px no-repeat;    padding:1px 0px 1px 16px}
#content span.link-ftp a{    background:transparent url(/nosvn/plone3/img/file_icon.gif) 0px 1px no-repeat;    padding:1px 0px 1px 16px}
#content span.link-irc a{    background:transparent url(/nosvn/plone3/img/discussionitem_icon.gif) 0px 1px no-repeat;    padding:1px 0px 1px 16px}
#content span.link-callto a{    background:transparent url(/nosvn/plone3/img/phone_icon.gif) 0px 1px no-repeat;    padding:1px 0px 1px 16px}
#content span.link-webcal a{    background:transparent url(/nosvn/plone3/img/event_icon.gif) 0px 1px no-repeat;    padding:1px 0px 1px 16px}
#content span.link-feed a{    background:transparent url(/nosvn/plone3/img/rss.gif) 0px 1px no-repeat; padding:1px 0px 1px 18px}
#content .link-plain{ background-image:none !important; padding:0 !important}
.visualGhosted{ opacity:0.2}
body.fullscreen #portal-logo,body.fullscreen #portal-siteactions{ display:none}
body.fullscreen #portal-globalnav{ margin-top:4em}
body.fullscreen #portal-searchbox{ margin:0.5em 2em 0 0.5em; padding:0; position:relative; z-index:3}
.image-left{ float:left; clear:both; margin:0.5em 1em 0.5em 0; border:1px solid Black}
.image-inline{ float:none}
.image-right{ float:right; clear:both; margin:0.5em; border:1px solid Black}
dd.image-caption{ text-align:left; padding:0;margin:0}
dl.captioned{ padding:10px}
#dashboard-info-message{ padding-top:0.5em}
#dashboard{ width:68em}
#dashboard-portlets1,#dashboard-portlets2,#dashboard-portlets3{ float:left; width:16em; padding:0.7em 1.3em 0 0}
#dashboard-portlets4{ float:left; width:16em; padding-top:0.7em}
#dashboard-portlets1 a,#dashboard-portlets2 a,#dashboard-portlets3 a,#dashboard-portlets4 a{ border-bottom:medium none}
#dashboard-portlets1 dl.portlet,#dashboard-portlets2 dl.portlet,#dashboard-portlets3 dl.portlet,#dashboard-portlets4 dl.portlet{ margin-bottom:1.5em}
div.managedPortlet.portlet{ border-bottom:none}
#dashboard select{ width:100%}
.portletAssignments{ margin-top:1.5em}
#dashboard-portlets1 div.managedPortlet a,#dashboard-portlets2 div.managedPortlet a,#dashboard-portlets3 div.managedPortlet a,#dashboard-portlets4 div.managedPortlet a{ text-decoration:none; color:#436976; border-bottom:1px solid #436976}
#dashboard-portlets1 div.managedPortlet span a,#dashboard-portlets2 div.managedPortlet span a,#dashboard-portlets3 div.managedPortlet span a,#dashboard-portlets4 div.managedPortlet span a{ border-bottom:none}
#dashboard-actions{ float:right}
#dashboard-actions ul{ list-style-image:none; list-style-position:outside; list-style-type:none;  margin-top:0}
#dashboard-actions ul li{ display:inline; padding-left:0.7em}
#dashboard-actions ul li.portalUser{ padding-left:18px}
.section div{ padding-top:0.5em; padding-bottom:0.5em}
}
@media screen{#portal-columns{ width:100% !important; border-collapse:collapse; border-spacing:0}
#portal-column-one{ vertical-align:top; width:16em; border-collapse:collapse; padding:0}
#portal-column-content{ vertical-align:top; border-collapse:collapse; padding:1em 1em 0 1em; margin:0em 0em 2em 0em}
#portal-column-two{ vertical-align:top; width:16em; border-collapse:collapse; padding:0}
body.fullscreen #portal-column-one,body.fullscreen #portal-column-two{ display:none}
body.fullscreen #portal-column-content{ width:100%; margin:0; padding:0}
}
@media screen{.contentViews{ background-color:transparent; padding-left:1em; line-height:normal; margin:0; list-style:none; border:1px solid #74ae0b; border-top-width:0px; border-left-width:0px; border-right-width:0px}
.contentViews li{ display:inline; padding-top:0.5em}
.contentViews li a{ background-color:transparent; border:1px solid #74ae0b; border-style:solid; color:#578308; height:auto; margin-right:0.5em; padding:0em 1em; line-height:normal; text-decoration:none; text-transform:none; z-index:1}
.contentViews .selected a{ background-color:#cde2a7; border-bottom:#cde2a7 1px solid; color:#578308}
.contentViews li a:hover{ background-color:#cde2a7; color:#578308}
.configlet .contentViews{ font-size:90%}
.contentActions{ background-color:#cde2a7; border-left:1px solid #74ae0b; border-right:1px solid #74ae0b; color:#578308; text-align:right; text-transform:none; padding:0 0 0 1em; z-index:2; position:relative; height:1.6em}
.contentActions ul,.contentActions li{ margin:0; list-style:none; list-style-image:none; color:Black; text-align:left; line-height:1.6em}
.contentActions li{ float:right; z-index:4; border-left:1px solid #74ae0b}
.contentActions a{ text-decoration:none; color:#578308; padding:0 0.5em; cursor:pointer}
.contentActions span.subMenuTitle{ padding:0em 0.5em; position:relative; white-space:nowrap; display:inline}
.contentActions a span.subMenuTitle{ padding:0px; display:inline}
.actionMenu{  position:relative; margin:0; padding:0}
.actionMenu .actionMenuHeader{ margin:0; padding:0; font-weight:normal}
.actionMenu.activated .actionMenuHeader{ position:relative; z-index:10}
.actionMenu .actionMenuHeader a{ display:block}
.arrowDownAlternative{ font-size:0.85em}
#templateMenu li a{ padding-left:16px}
ul.configlets{ margin:1em 0; list-style-image:none; list-style:none}
ul.configlets li{ margin-bottom:1em}
ul.configlets li a{ text-decoration:none; border:none}
ul.configlets li a:visited{ color:#436976; background-color:transparent}
ul.configlets li a:active{ color:#436976; background-color:transparent}
ul.configlets li label{ font-weight:bold}
ul.configletDetails{ margin:0em 1em 1em 4em; list-style-image:none; list-style:none}
ul.configletDetails li{ margin-bottom:1em; display:inline}
ul.configletDetails li a{text-decoration:none}
ul.configletDetails li label{ font-weight:bold}
ul.configletDetails li.configletDescription{ display:block; color:#76797c; font-size:90%; margin:0}
.stx table p{    margin:0;    padding:0}
.stx table{    border:1px solid #8cacbb ! important}
.stx table td{    border-bottom:1px solid #8cacbb}
.reviewHistory,.contentHistory{    display:inline;    font-size:110% !important;    color:Black}
.comment{    background:#eef3f5;    border:1px solid #8cacbb;    padding:0.25em 1em 0.5em 1em;    margin-bottom:1em}
.comment h1,.comment h2,.comment h3,.comment h4,.comment h5,.comment h6{    border-bottom:1px solid #76797c;    font-weight:normal}
.comment h3 a{    background-image:url(/nosvn/plone3/img/discussionitem_icon.gif); background-repeat:no-repeat; padding-left:18px; margin-left:-1px; margin-bottom:1px; min-height:1.6em; height:auto; line-height:1.6em}
.commentBody{ margin:0 1em 1em 1em}
.spacer{ margin:1em}
dl.collapsible{ border:1px solid #8cacbb !important; margin:1em 0 0 0; padding:0}
dl.collapsible dt.collapsibleHeader{ display:block; float:left; background:White; line-height:1.2em; vertical-align:middle; font-size:90%; position:relative; top:-0.6em; width:auto; margin:0 0 -0.6em 1em; padding:0 0.5em}
dl.collapsible dd.collapsibleContent{ margin:0; padding:0 1em; clear:left}
dl.collapsible dd.collapsibleContent >dl{ margin:0; padding:0}
dl.expandedInlineCollapsible dt.collapsibleHeader,dl.expandedBlockCollapsible dt.collapsibleHeader{ padding:0 6px 0 22px; background:White url(treeExpanded.gif) no-repeat 6px 50%; cursor:pointer}
dl.collapsedBlockCollapsible{ border:none !important; height:1em; width:auto}
dl.collapsedBlockCollapsible dt.collapsibleHeader{ float:none; position:static; margin:0; padding:0 0 0 22px; line-height:1em; background:transparent url(treeCollapsed.gif) no-repeat 6px 50%; cursor:pointer}
dl.collapsedInlineCollapsible dd.collapsibleContent,dl.collapsedBlockCollapsible dd.collapsibleContent{ display:none}
dl.collapsedInlineCollapsible{ border:none !important; height:1em; width:auto; display:inline}
dl.collapsedInlineCollapsible dt.collapsibleHeader{ position:static; float:none; margin:0; padding:0 0 0 22px; line-height:1em; background:transparent url(treeCollapsed.gif) no-repeat 6px 50%; cursor:pointer; display:inline}
.configlet .documentEditable{ padding:0em !important}
.documentEditable .documentContent{ border:1px solid #74ae0b; padding:0}
.label{ font-weight:bold; display:inline; padding-right:0.5em}
.optionsToggle{ border:1px solid #8cacbb; color:Black; background-color:#dee7ec; font-weight:normal !important; font-size:90%}
.portalNotLoggedIn{}
#portal-column-content fieldset >* input:focus,#portal-column-content fieldset >* textarea:focus{ border-color:#ffa500; border-width:1px}
.highlightedSearchTerm{ background-color:#ffa}
dl.searchResults .highlightedSearchTerm{ background-color:transparent; font-weight:bold}
.noInheritedRoles{ color:#a0a0a0}
.currentItem{ border-collapse:collapse; border:2px solid #ffa500; padding:1px}
.managePortletsLink{ display: block; color:#76797c; font-size:90%; font-weight:normal}
ul.formTabs{ position:relative; display:block; margin:0 0 -2em 0; padding:0; list-style-type:none; text-align:center}
li.formTab{ display:inline; margin:0; padding:0}
li.formTab a{     display:inline-block}
li.formTab a{    border-top:1px solid #8cacbb;    border-bottom:1px solid #8cacbb;    border-left:1px dotted #8cacbb;    background:White;    margin:0;    padding:0.125em 0.75em;    text-decoration:none}
li.formTab a:visited{    color:#436976}
li.firstFormTab a{    border-left:1px solid #8cacbb}
li.lastFormTab a{    border-right:1px solid #8cacbb}
li.formTab a.selected{    background:#dee7ec}
li.formTab a:hover{    background:#dee7ec}
li.formTab a.notify{    background-color:#ffce7b;    color:Black}
li.formTab a.required span{    background-image:url(/nosvn/plone3/img/required.gif); background-position:center right; background-repeat:no-repeat; padding-right:8px}
li.formTab a.notify:hover{ background-color:#ffa500}
.formPanel{ padding:1em 1em 1em 1em; border:1px solid #8cacbb}
.formPanel.hidden{ display:none}
div.formControls input.hidden{ display:none}
#content-history #history dd{margin-top:0.8em}
#content-history div.historyRecord{font-size:90%;margin-bottom:10px}
#content-history div.historyTools ul{float:right;list-style-image:none;list-style-position:outside;list-style-type:none;margin-top:0}
#content-history div.historyTools ul li{display:inline}
#content-history div.historyTools ul li a{border-bottom:none}
#content-history .historyAction{color:#578308}
#content-history .historyByLine{margin-bottom:1em}
#content-history div.historyComment{background-color:#dee7ec;padding:0.25em 1em}
#content-history div.historyComment p{color:Black;margin:0;padding-top:1px}
#content-history a.historyComparePrevious{border-bottom:medium none;border-top:1px dotted #8cacbb;display:block;margin-bottom:-15px;margin-top:11px}
#content-history dl div.historyRecord a.historyComparePrevious span{background-color:white;left:50%;position:relative;top:-1em}
}
@media screen{.managePortletsFallback{ margin:0 0 0 1em}
.portlet{ margin:1px 0 1em 0; border-bottom:1px solid #8cacbb; background-color:White}
.portlet a{ text-decoration:none}
.portlet a.tile{ display:block}
.portletItem ul{ list-style-type:none}
.portletItem a,.portletFooter a{ border-bottom:none}
.portletItem a:visited,.portletFooter a:visited{ color:#436976}
.portletHeader,.managedPortlet .portletHeader{ background-color:#dee7ec; border:1px solid #8cacbb; padding:0em 1em; text-transform:none; font-weight:normal; line-height:1.6em}
.portletHeader a,.managedPortlet .portletHeader a{ color:Black}
.inheritedPortlet .portletHeader{ background-color:transparent}
.portletItem{ margin:0; padding:1em; border-left:1px solid #8cacbb; border-right:1px solid #8cacbb}
.portletItem ol{ margin:0 0 0 1em}
.portletItemDetails{ text-align:right; display:block; color:Black}
.portletFooter{ background-color:#eef3f5; margin:0; padding:0.25em 1em; border:1px solid #8cacbb; border-style:dotted solid none solid; text-align:right}
.portletTopLeft{}
.portletTopRight{}
.portletBottomLeft{}
.portletBottomRight{}
.dayPopup{ background-color:#ffffe1; border:1px solid Black; padding:0.2em; position:absolute; visibility:hidden; width:12em; z-index:2}
.date{ font-weight:bold}
.portletCalendar{ width:100%; margin:1px 0 1em 0; width:100%}
.portletCalendar dt{ background-color:#dee7ec; font-weight:normal; text-align:center; line-height:1.6em; border-bottom:none}
.portletCalendar dd{ margin:0; padding:0}
.portletCalendar a{ text-decoration:none}
.portletCalendar a:hover{ text-decoration:none}
.ploneCalendar{ border-collapse:collapse; border-spacing:0; width:100%}
.ploneCalendar td{ background-color:transparent; width:14%; text-align:center; padding:2px}
.ploneCalendar .weekdays th{ background-color:#dee7ec; border:1px solid #8cacbb; border-style:solid none; text-align:center; padding:2px; font-weight:normal}
.ploneCalendar .event{ background-color:#dee7ec; font-weight:bold}
.ploneCalendar .todayevent{ background-color:#dee7ec; border:2px solid #ffa500; font-weight:bold}
.ploneCalendar .todaynoevent{ border-collapse:collapse; border:2px solid #ffa500}
.managePortletsLink{ text-align:center}
div.portlets-manager div.section{ padding-top:1em !important}
div.managedPortlet{ padding-top:0.5em; padding-bottom:0.5em; background-color:transparent}
.managedPortlet .portletHeader{ min-height:3em !important}
.managedPortlet a{ text-decoration:underline}
.managedPortletActions{ display:block; float:right}
.managedPortletActions a{ text-decoration:none}
.managedPortletActions a.up,.managedPortletActions a.down{ color:blue !important}
.managedPortletActions a.delete{ color:red !important}
.toc{ float:right; width:30%; font-size:90%; margin:0 0 0.5em 0.5em}
.toc .TOC1Digit{ margin-left:1em}
.toc .TOC2Digit{ margin-left:2em}
.toc .TOC3Digit{ margin-left:3em}
.portletStaticText ul{    list-style-image:url(/nosvn/plone3/img/bullet.gif); list-style-type:square; margin:0.5em 0 0 1.5em}
.portletStaticText ol{ margin:0.5em 0 0 2em}
#portal-column-one fieldset.livesearchContainer{ right:inherit !important; top:1.5em !important}
}
@media screen{.inlineDisplay{display:inline}
table.controlpanel-listing{width:100%}
table.controlpanel-listing td,table.controlpanel-listing th{font-size:120%}
table.controlpanel-listing dl{margin-top:0}
table.controlpanel-listing dd{margin-left:1em}
table.controlpanel-listing dl dt a .trigger{font-weight:normal}
table .controlpanel-listing td{vertical-align:top}
table.controlpanel-listing td.checker{text-align:center}
table.controlpanel-listing th.smallcolumn{width:1.5em}
.chooser-right{float:right;margin-right:0 !important;margin-bottom:0 !important}
.rule-element{background-color:#EEF3F5;margin:0.5em 0pt 0.5em;padding:0.3em 1em 0.3em 1em;width:auto}
.rule-element dl{}
.rule-element dl dd{margin-left:1em}
.rule-updown,.rule-operations{float:right;padding-top:0.8em}
}
@media print{body{ font-family:serif; font-size:11pt !important}
h1,h2,h3,h4,h5,h6{ border:none; font-family:serif}
div,p,ul,dl,ol{ width:auto}
ul,ol,dl{ padding-right:0.5em}
ul{ list-style-type:square}
.documentDescription{ font-weight:bold}
pre{ border:1pt dotted black; white-space:pre; font-size:8pt; overflow:auto; padding:1em 0}
table.listing,table.listing td{ border:1pt solid black; border-collapse:collapse}
a{ color:Black !important; padding:0 !important; text-decoration:none !important}
a:link,a:visited{ color:#520; background:transparent}
div.pageBreak{ page-break-before:always}
div.top,#portal-logo,#portal-siteactions,.hiddenStructure,#portal-searchbox,#portal-globalnav,#portal-personaltools,#portal-breadcrumbs,#portal-column-one,#portal-column-two,#portal-languageselector,.contentViews,.contentActions,.help,.legend,.portalMessage,.documentActions,.documentByLine,.netscape4,#portal-footer,#portal-colophon,.skipnav, #kss-spinner, #review-history, #content-history, .listingBar,.discussion input,.visualNoPrint{ display:none}
.discussion .documentByLine{ display:block}
}
@media screen{div.portalMessage,p.portalMessage,.system-message,#error-handling{    background-color:#ffce7b;    border:1px solid #ffa500;    color:Black;    font-size:90%;    margin:1em 0em;    padding:0.5em 1em 0.5em 3em;    vertical-align:middle;    background-image:url(/nosvn/plone3/img/info_icon.gif); background-repeat:no-repeat; background-position:5px 50%}
}
@media screen{.portletNavigationTree{padding:0;list-style:none !important;list-style-image:none !important;line-height:1em}
.navTree{list-style:none;list-style-image:none;margin-top:1px}
.navTree li{margin-bottom:1px}
.navTreeItem{display:block;padding:0;margin:0}
.navTreeItem a,dd.portletItem .navTreeItem a{border:1px solid White;display:block;text-decoration:none;padding-top:0.2em;padding-bottom:0.25em}
.navTreeItem a:hover,dd.portletItem .navTreeItem a:hover{background-color:#dee7ec;color:#436976;border:1px solid #8cacbb}
.navTreeCurrentItem{background-color:#dee7ec;color:#436976;border:1px solid #8cacbb !important}
li.navTreeCurrentItem{display:block;padding:0 0 0 1px;margin:0 0 2px -1px}
li.navTreeCurrentItem a,li.navTreeCurrentItem a:hover{display:block;border:1px solid #dee7ec;min-height:1.6em;line-height:1.6em;height:auto}
* html li.navTreeCurrentItem a,* html li.navTreeCurrentItem a:hover{height:1.6em}
.navTreeLevel0{margin:0}
.navTreeLevel1{margin-left:1em}
.navTreeLevel2{margin-left:0.75em}
.navTreeLevel3{margin-left:0.75em}
.navTreeLevel4{margin-left:0.75em}
.navTreeLevel5{margin-left:0.75em}
}
@media screen{ul.visualNoMarker,ol.visualNoMarker{list-style-type:none;list-style-image:none;margin:0.5em 0 0 0}
.visualOverflow{overflow:auto;margin:0 0 1em 0}
.visualOverflow pre,.visualOverflow table,.visualOverflow img{margin:0}
.hiddenStructure{display:block;background:transparent;background-image:none;border:none;height:1px;overflow:hidden;padding:0;margin:-1px 0 0 -1px;width:1px}
.contentViews .hiddenStructure,.contentActions .hiddenStructure{position:absolute;top:-200px;left:-200px}
.hiddenLabel{display:block;background:transparent;background-image:none;border:none;height:1px;overflow:hidden;padding:0;margin:-1px 0 0 -1px;width:1px}
.visualClear{display:block;clear:both}
.netscape4{display:none}
tr.dragging td{background-color:#ff6 !important}
.draggingHook{cursor:move}
.notDraggable{}
}
@media screen{textarea{font:100% monospace;border:1px solid #ddd;border-color:#666 #ddd #ddd #666;color:Black;background:White url(/nosvn/plone3/img/input_background.gif) repeat-x;width:100%}
.noborder,.documentEditable * .noborder{border:none;margin:0;background:none;background-color:transparent}
input[type=checkbox]{border:none;margin:0;background:none;background-color:transparent}
#searchGadget{border:1px solid #8cacbb}
button{font-family:sans-serif;visibility:visible;border:1px solid #8cacbb;color:Black;vertical-align:middle;background-color:#dee7ec;padding:1px;cursor:pointer;font-size:90%;text-transform:none}
select{vertical-align:top}
form{border:none;margin:0}
fieldset{border:1px solid #8cacbb;margin:1em 0em 1em 0em;padding:0em 1em 1em 1em;line-height:1.5em;width:auto}
legend{background:White;padding:0.5em;font-size:90%}
label{font-weight:bold}
optgroup{font-style:normal;font-weight:bold;color:#999;padding-left:0.25em}
option{color:black}
optgroup >option{padding:0 0.25em 0 1em}
dl.enableFormTabbing dd{margin-left:0;padding-top:2em}
#login-form{width:30em;margin:0 auto}
#login-form .field{clear:none}
#login-form input{font-size:150%}
#login-form input.context{padding:1px 10px 1px 20px;background-position:9px 5px;margin-bottom:1em}
#forgotten-password{float:right;width:35%;margin:0 1em}
.searchSection{color:#76797c;margin-top:0.25em}
.searchSection label:hover{color:Black}
.field{top:0;left:0;margin:0 1em 1em 0;clear:both}
.field .field{margin:0}
.fieldRequired{background:url(/nosvn/plone3/img/required.gif) center left no-repeat;padding:0 0 0 8px;color:White}
.fieldUploadFile{text-align:right;margin-right:0.75em;display:none}
.fieldTextFormat{text-align:right;margin-right:0.75em}
.formHelp{font-size:90%;color:#76797c;margin:0 0 0.2em 0}
.formHelp:hover{color:Black;cursor:default}
div.error{background-color:#fdc;border:1px solid #d00;padding:0.5em;margin:0 0 1em 0;width:95%}
.error .fieldRequired{color:#d00}
#archetypes-fieldname-title input,input#form\.title{font-size:160%;font-family:sans-serif;font-weight:normal;width:99%}
#archetypes-fieldname-description textarea,textarea#form\.description{font:100% sans-serif;font-weight:bold}
input.inputLabelActive{color:#76797c}
textarea#form\.description{height:6em;width:99%}
tr.selected{background-color:#ffa}
.kupu-save-message{color:white;font-weight:bold;background-color:red;padding:0.3em;position:fixed;top:0;right:0;z-index:999}
}
@media screen{#kss-spinner{display:none;width:20px;height:20px;position:fixed;background-position:center center;top:50%;left:50%;margin-top:-10px;margin-left:-10px}
.formlibInlineEditable,.inlineEditable{padding:1px;display:block}
body.kssActive .inlineEditable:hover,body.kssActive .formlibInlineEditable:hover{padding:0;border:1px solid #ddd;border-color:#666 #ddd #ddd #666;cursor:text;background:White url(input_background.gif) repeat-x}
body.kssActive .inlineEditable a:hover,body.kssActive .formlibInlineEditable a:hover{cursor:pointer}
body.kssActive .formlibInlineForm:hover,body.kssActive .formlibInlineForm a:hover{padding:1px;border:none;cursor:default;background:none}
.inlineForm .formHelp,.inlineForm .fieldRequired,.inlineForm label{display:none}
.inlineForm .ArchetypesSelectionWidget label{display:inline}
.inlineForm #archetypes-fieldname-title input,.inlineForm #archetypes-fieldname-title{font-size:100%}
h1 div.formControls input{font-size:55% !important}
}
@media all{  }
#nav-box{font-size:0.8em;border:1px solid black;margin:1em;padding:0.5em;float:right;background-color:#eee;color:#000}
#nav-box h5{text-align:center;font-weight:bold}
#playogg-signup{margin:20px;padding:10px;background-color:#e4ecec;-moz-border-radius:1em}
#playogg-signup h4{color:4c5c80}
#playogg-signup input{font-size:120%}
.highlight{background-color:#fde901;padding:3px;line-spacing:110%}
table{ font-size:100%}
img{ border:none; vertical-align:middle}
p{ margin:0 0 0.75em 0; line-height:1.5em}
p img{ border:none; margin:0}
hr{ border:0; height:1px; color:#8cacbb; background-color:#8cacbb; margin:0.5em 0 1em 0}
h1,h2,h3,h4,h5,h6{ color:Black; font-family:sans-serif; margin:0.75em 0 0.25em 0}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{ color:Black ! important; text-decoration:none}
h1{ font-size:160%}
h2{ font-size:150%; font-weight:bold; border:none}
h3{ font-size:125%; border-bottom:none; font-weight:bold}
h4{ font-size:110%; border-bottom:none; font-weight:bold}
h5{ font-size:100%; border-bottom:none; font-weight:bold}
h6{ font-size:90%; border-bottom:none; font-weight:bold}
ul{ line-height:1.5em; padding:0}
ol{ line-height:1.5em; padding:0}
li{ margin-bottom:0.5em}
dt{ font-weight:bold}
dd{ line-height:1.5em; margin-bottom:1em}
abbr,acronym,.explain{ border-bottom:1px dotted Black; color:Black; background-color:transparent; cursor:help}
abbr .explain{ border-bottom:none}
q{ font-family:serif; font-style:italic; font-size:120%}
blockquote{ padding-left:0.5em; margin-left:0; border-left:4px solid #8cacbb; color:#76797c}
code,tt{ font-family:monospace; font-size:120%; color:Black; background-color:#dee7ec; padding:0 0.1em}
pre{ font-family:monospace; font-size:100%; padding:1em; border:1px solid #8cacbb; color:Black; background-color:#dee7ec; overflow:auto}
ins{ color:green; text-decoration:none}
del{ color:red; text-decoration:line-through}
}
a:hover,a:active{color:red;text-decoration:none}
a:visited{color:navy}
.c{text-align:center}
.jcarousel-container{ position:relative}
.jcarousel-clip{ z-index:2; padding:0; margin:0; overflow:hidden; position:relative}
.jcarousel-list{ z-index:1; overflow:hidden; position:relative; top:0; left:0; margin:0; padding:0}
.jcarousel-list li,.jcarousel-item{ float:left; list-style:none;  width:266px; height:181px}
.jcarousel-skin-tango .jcarousel-container-horizontal{ width:100%}
.jcarousel-skin-tango .jcarousel-clip-horizontal{ width: 820px; height:181px; margin:0 auto}
.jcarousel-skin-tango .jcarousel-item{ width:266px; height:181px}
.jcarousel-skin-tango .jcarousel-item-horizontal{ margin-right:10px}
.jcarousel-skin-tango .jcarousel-item-placeholder{ background:#fff; color:#000}
.jcarousel-skin-tango .jcarousel-next-horizontal{    position:absolute;    top:43px;    right:5px;    width:32px;    height:32px;    cursor:pointer;    background:transparent url(/nosvn/v/next-horizontal.png) no-repeat 0 0}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover{    background-position:-32px 0}
.jcarousel-skin-tango .jcarousel-next-horizontal:active{    background-position:-64px 0}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active{    cursor:default;    background-position:-96px 0}
.jcarousel-skin-tango .jcarousel-prev-horizontal{    position:absolute;    top:43px;    left:5px;    width:32px;    height:32px;    cursor:pointer;    background:transparent url(/nosvn/v/prev-horizontal.png) no-repeat 0 0}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover{    background-position:-32px 0}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active{    background-position:-64px 0}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{    cursor:default;    background-position:-96px 0}
html{background-image:url(rmsbg.png);background-repeat:repeat-x}
#hd h1{    background:url(logo-new.png) no-repeat; border:0; margin:0px 0 1em 0; padding:0; position:absolute; top:5px;left:0}
#hd h1 a{ display:block; text-decoration:none; overflow:hidden; border:0; margin:0; padding:0; padding-top:33px; height:0px !important; height :33px;    width:283px;    cursor:pointer}
.imgreplace{background-repeat:no-repeat;border:0;margin:0;padding:0}
.imgreplace a{display:block;text-decoration:none;overflow:hidden;border:0;margin:0;padding:0;height:0px !important;cursor:pointer}
#hd{position:relative;min-height: 45px; margin-bottom: 10px}
#copyright{text-align:center}
.important{font-weight:bold;font-size:120%;text-align:center;color:#333}
#news-events h3{text-align:center}
#fss{text-align:center;background-color:#ccc;margin:0;padding:24px;margin:12px 36px;-moz-border-radius:12px}
#fss h3{padding:0;margin:0;font-size:18px;margin-bottom:12px}
#fss form{margin:0 !important;padding:0 !important}
#fss input{font-size:140%;margin:0;padding:0}
#video{width:400px;height:266px;background-color:#111;margin:0 auto}
#gnu-free{padding:20px 0 0 0}
#gnu-free h2{font-size:28px;margin:0;padding:0;text-align:center;color:#333}
#gnu-free p{font-size:16px;color:#222;margin-top:1em;margin-bottom:1em}
#fixed h2 a{display:block;text-decoration:none;overflow:hidden;border:0;margin:0 auto;padding:0;padding-top:50px;height:0px !important;width:820px;cursor:pointer}
#fixed h2{background:url(/fsforg/img/since1985.png) no-repeat;border:0;margin:0em;padding:10px 0;background-position:center center}
.imgleft{float:left;margin:12px}
.imgright{float:right;margin:12px}
#about-gnu{position:relative}
#about-gnu p{font-size:14px;margin-top:1em}
#about-gnu h2{font-size:30px;margin-top:0;margin-bottom:0}
#support{text-align:center;font-size:22px;width:350px;background-color:#82b74e;margin:0 auto;padding:9px;-moz-border-radius:10px;border:5px solid white}
#support a:link,#support a:visited{color:white;text-decoration:none;display:block}
#support:hover{background-color:red;border:5px solid yellow}
#support a:hover{color:white !important}
#mycarousel li h3,#mycarousel li h3 a{font-size:14px !important;text-align:center !important;margin:0 !important;padding:0 !important;color:#999 !important;line-height:30px !important}
.netscape4{display:none !important}
#what-is h2{font-size:23px}
#what-is h3{font-size:18px;color:#222}
#what-is p{font-size:14px;line-height:1.6em}
#new-fp-sidebar{color:#333}
#new-fp-sidebar h4,#news-and-blogs h4{text-align:center;font-size:18px}
#new-fp-sidebar ul,#news-and-blogs ul{list-style:none;padding:0;margin:0;padding-top:18px;padding-bottom:24px}
#new-fp-sidebar li,#news-and-blogs li{margin-bottom:1em;list-style:none;font-size:14px}
#new-fp-sidebar li a,#news-and-blogs li a{color:#444}
#news-and-blogs li{list-style:square !important}
#news-and-blogs ul{margin-right:25px}
#news-and-blogs{margin-top:20px}
#campaigns-link{text-align:right;color:#333;margin-top:-24px}
#quote-box blockquote{font-size:18px;line-height:30px;padding:0 36px;font-style:italic}
#quote-box blockquote a{color:#333;text-decoration:none}
#quote-box blockquote{background-image:url('/nosvn/quot.png');background-repeat:no-repeat}
#quote-box p{margin-right:65px;font-size:16px;text-align:right}
input[type="text"]{border:2px solid #ddd}
input[type="text"]:focus{border:2px solid orange}
#doc4,#hd,#bd,#ft,body{background-color:transparent !important}
.delete{background-color:red;text-decoration:line-through}
.insert{background-color:lime}
#doc[dir=rtl],#doc2[dir=rtl],#doc3[dir=rtl],#doc4[dir=rtl],.yui-t1[dir=rtl],.yui-t2[dir=rtl],.yui-t3[dir=rtl],.yui-t4[dir=rtl],.yui-t5[dir=rtl],.yui-t6[dir=rtl],.yui-t7[dir=rtl],#content[dir=rtl],#fsf-sidebar[dir=rtl]{text-align:right}
.discussion{display:none !important;height:0px}

body, html {
  margin:0;
  padding:0;
  /* Comment out padding-top to remove the gap above banners on FSF.org. */
  padding-top: 5px;
  /* ^ That, up there.  Yup. */
}

.navi div,#hd, #ft-inner{margin:0 auto;position:relative}
.navi ul{margin:0;padding:0; line-height:50px;text-align:left}
.navi li,#navi input{display:inline;font-size:20px;font-weight:bold;text-transform:lowercase;background-image:none !important;padding:0px}
.navi li a{padding:10px 6px;color:white;text-decoration:none}
.navi li a:hover{background-color:red}
.navi{background-color:maroon;height:50px;color:white !important;margin-top:10px;}
.navi form{width:300px;position:absolute;top:0;right:0;height:50px;line-height:50px}
.navi form p{line-height:50px}
.navi form input{padding:5px}
.portlet{ margin:1px 0 1em 0; border-bottom:1px solid #8cacbb; background-color:White}
.portlet a{ text-decoration:none}
.portlet a.tile{ display:block}
.portletItem ul{ list-style-type:none}
.portletItem a,.portletFooter a{ border-bottom:none}
.portletItem a:visited,.portletFooter a:visited{ color:#436976}
.portletHeader,.managedPortlet .portletHeader{ background-color:#fff; border:0px solid #8cacbb; padding:0em 1em; text-transform:none; font-weight:normal; line-height:1.6em; text-align:center; font-size:22px; font-weight:bold}
.portletHeader a,.managedPortlet .portletHeader a{ color:Black}
.inheritedPortlet .portletHeader{ background-color:transparent}
.portletItem{ margin:0; padding:1em; border-left:0px solid #8cacbb; border-right:0px solid #8cacbb}
.portletItem ol{ margin:0 0 0 1em}
.portletItemDetails{ text-align:right; display:block; color:Black}
.portletFooter{ background-color:#fff; margin:0; padding:0.25em 1em; border:0px solid #8cacbb; border-style:dotted solid none solid; text-align:right}
.portlet-static-supporter{background-color:#ddd;padding:10px;border:2px solid black;margin-bottom:20px}
.portlet-static-supporter h5{font-size:22px;margin:0;padding:0;padding-bottom:8px}
.portlet-static-supporter p{font-size:16px}
.portlet-static-supporter input{font-size:16px;padding:5px}





#fsf-sidebar dd a {border:0px !important}


.section-about #tab-about a, .section-campaigns #tab-campaigns a, .section-associate #tab-membership a, .section-resources #tab-resources a {background-color: red !important;}


#portal-languageselector { width: 100%; text-align: center; }


body { text-align: left; }


#ft { background-color:#ccc !important; border-top: 5px solid #ddd; border-bottom: 5px solid #ddd; padding-top: 25px; }

#ft-links-outer {background-color: orange;}


#ft li { text-align: left !important; }


#fsf-links{margin:1em 0;border:1px solid #ccc;padding:5px;-moz-border-radius:10px; background-color: #ececec;}

#fsf-links li a{color:#555;text-decoration:none}

#fsf-links ul li{list-style:none !important;padding:0 0.3em 0;font-weight:bold}

#fsf-links ul li ul li{font-weight:normal}

#fsf-links ul li ul li a{color:#606060;font-size:0.9em}

#fsf-links li a:hover{color:#0063DC}

#fsf-links div ul{padding:0 20px}

#fsf-links ul li ul{padding:0}

#fsf-links ul{padding:0;margin:0;margin-top:0.5em}

#fsf-links li a{ display: block; }


ol.roman-list li { list-style: roman-lower !important; }

ol.latin-list li { list-style: latin-lower !important; }


.custom-doc{width:74.923em; position: relative;}

.onlyMobile {display: none !important;}


#portal-personaltools-wrapper {position: absolute; top: 0; left: 0;}

#powered-by {margin: 10px auto 0; padding: 0; width: 240px; position: relative; height: 40px; }

#powered-by ul{padding: 0; margin:0;}

#powered-by li {display: inline; height: 40px;}

#powered-by li a {padding: 10px;}


#powered-by-plone {background:url(plone.png) no-repeat; left: 0px}
#powered-by-python {background:url(python.png) no-repeat; left: 50px;}
#powered-by-zope {background:url(zope.png) no-repeat; left: 100px;}
#powered-by-html5 {background:url(html5.png) no-repeat; left: 150px;}
#powered-by-civicrm {background:url(crm.png) no-repeat; left: 200px;}

#powered-by li{border:0; margin:0px 0 1em 0; padding:0; position: absolute;}

#powered-by li a{ display:block; text-decoration:none; overflow:hidden; border:0; margin:0; padding:0; padding-top:40px; height:0px !important; height :70px; width:40px; cursor:pointer}

html, body, #ft, #coolio {margin-bottom: 0 !important; padding-bottom: 0 !important;}


#portal-siteactons{position:absolute;top:0px;right:0;z-index:9999}
#portal-siteactions a{display:block}

#portal-personaltools dd.actionMenuContent ul li a {
	color: White;
}

#portal-personaltools dd.actionMenuContent ul li a:hover {
	background-color: White;
}

#portal-personaltools-wrapper {position: absolute; top: 0; right: 230px; text-align: right;}

.actionMenu .actionMenuContent {
  display:none;
  z-index:5;
  top:1.6em;
  right:-1px;
  height:auto;
  padding:0;
  margin-left: auto;
  margin-right: auto;
}
.actionMenu.activated .actionMenuContent{ display:block !important}
.actionMenu.activated .actionMenuContent{  display:table !important; border-collapse:collapse; border-spacing:0}
.actionMenu.deactivated .actionMenuContent{ display:none !important}
.actionMenu .actionMenuContent ul{ display:block; background:#cde2a7; border:1px #74ae0b; border-style:none solid solid solid; margin:-2px 0 0 0; padding:0}
.actionMenu .actionMenuContent li{ float:none; background-color:transparent; display:inline; padding:0; margin:0; border:0}
.actionMenu .actionMenuContent li a{ display:block; white-space:nowrap; margin:0.2em 0}
.actionMenu .actionMenuContent .selected{ display:block; white-space:nowrap; padding:0 0.5em; margin:0.2em 0}
.actionMenu .actionMenuContent li a:hover{ background-color:#74ae0b; color:White}
.actionMenu .actionMenuContent .actionSeparator a{ padding-top:0.2em; border-top:1px solid #74ae0b}



#hd ul{position:absolute;top:-2px;right:0px;height:45px;padding:0;margin:0;overflow:hidden;text-align:center}
#hd h5{display:none !important}
#hd li{display:inline}
#hd li a{text-align:center;line-height:45px;font-size:13px; padding:10px 5px;font-weight:bold;text-decoration:none;color:#980101}
#hd li a:hover,#hd li a:active{        background-color:#980101;        color:white !important}

#portal-searchbox{ float:right; clear:right; background-color:transparent; text-align:right; text-transform:none; white-space:nowrap; z-index:2}

#yui-main{margin-top: 10px;}

#fsf-sidebar {margin-top: 10px;}

a.gray:link {color:black;}
a.gray:hover {
  color: #ecf0f1;
}
p.gray
{    background-color:#27ae60;color:#ffffff;text-align:center;
}
p.LPgreen
{
    background-color:#2ecc71;color:#ffffff;text-align:center;
}

a {
  color:#0063DC;
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.search-container {
    border-top: 4px solid #e74c3c;
    background-color: #CFD2D4;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    clear: both;
    padding-left: 5px;
}

.search-box {
    float:left;
    width:33%;
    text-align: center;
}

.search-description {
    font-weight: bold;
    height: 4.5em;
}
